.slider{
	border-bottom: 1px solid transparent;
	margin-top: 69px;
	box-shadow: 0 1px 1px #a00;
	width: inherit;
	height: 300px;
	z-index: 1;
	margin-bottom: 15px;
	overflow: hidden;
}

.slider div{
	position: relative;
	width: 500%;
	height: inherit;
	animation: 30s scroller infinite;
}

.slider div img{
	width: 20%;
	height: inherit;
	margin-right: -5px;
}

@keyframes scroller{
	0%{left:0;}
	20%{left:0;}
	25%{left:-100%;}
	40%{left:-100%;}
	45%{left:-200%;}
	60%{left:-200%;}
	65%{left:-300%;}
	80%{left:-300%;}
	85%{left: -400%;}
	100%{left:-400%;}
}


.content{
	margin-top: 10px;
	margin-bottom: 10.5%;
}

.content > div{
	height: 280px;
	transition: .5s;
}

body{
	border: 1px solid transparent;
	height: auto;
}
.footer{
	margin-top: 20%;
}