*{
	font-family: "trebuchet ms",sans-serif;
}

html{
	position: absolute;
	padding: 0;
	margin: 0;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

body{
	position: relative;
	height: 100%;
	width: inherit;
	margin: 0;
	padding: 0;
}

button:focus, input:focus{
	outline: none;
}

.header{
	height: 70px;
	border: 1px solid transparent;
	background-color: #e22;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	box-shadow: 0 1px 1px #444;
	padding: 0;
}

.header section{
	width: 45%;
	height: 70px;
	line-height: 70px;
	float: left;
}

.header .menus{
	float: right;
	text-align: right;
	width: 52%;
}

.menus span{
	border: 1px solid white;
	padding: 5px 10px;
	margin-right: 20px;
	color: #fff;
	cursor: pointer;
	opacity: .9;
	border-radius: 1px;
	transition: 1s;
}

.menus span:hover{
	background-color: rgba(255,0,0,.75);
	border-color: white;
	opacity: 1;
	color: #fff;
}

.header .logo{
	overflow: hidden;
}
.header .logo a{
	height: 70px;
	overflow: hidden;
	display: block;
	width: 35%;
}

.header .logo a img{
	width: 100%;
	height: 100%;
}

.footer{
	position: absolute;
	bottom: 3px;
	left: 20%;
	right: 20%;
	background-color: rgba(0,0,0,.75);
	width: 60%;
	height: 95px;
	padding: 10px;
	text-align: center;
}

.footer div{
	border: 1px solid white;
	display: inline-block;
	width: 40%;
	color: #fff;
}

.footer div h4{
	text-transform: uppercase;
}

.footer div a{
	text-decoration: none;
	color: #0097c4;
}

.footer div span{
	border: 1px solid white;
	padding: 3px 8px;
	cursor: pointer;
	border-radius: 2px;
}

.footer div span:hover{
	background-color: rgba(200,200,200,.75);
}

.links{
	text-align: center;
	padding: 0;
	margin: 0;
}

.links ul{
	list-style: none;
	box-shadow: 0 1px 1px #888;
	border-bottom: 1px solid transparent;
}

.links ul li{
	display: inline-block;
	border: 1px solid transparent;
	width: 10%;
	height: 40px;
	line-height: 40px;
	border-radius: 3px;
	background-color: #eee;
	color: #e22;
	transition: 1s;
	cursor: pointer;
}

.links ul li:hover{
	background-color: #e22;
	color: white;
}

.content > div{
	border: 1px solid #e22;
	display: inline-block;
	width: 24%;
	margin-left: .5%;
	height: 80%;
	margin-top: 2.5%;
	position: relative;
	text-align: center;
	overflow: hidden;
	border-radius: 3px 3px 0 0 ;
}

.content > div h4{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	border: 1px solid transparent;
	background-color: rgba(0,0,0,.5);
	color: white;
}
.content > div img{
	width: 90%;
	margin-top: 20%;
}
.content > div img.no-top{
	margin-top: 2%;
}

.content > div div{
	border: 1px solid transparent;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 15%;
	background-color: rgba(0,0,0,.5);
	line-height: 100%;
	color: #fff;
}

.content > div div span{
	float: left;
	margin-left: 2%;
	margin-top: 5%;
}

.content > div div button{
	background-color: #e22;
	border: 1px solid transparent;
	padding: 5px 10px;
	color: inherit;
	margin-top: 3%;
	float: right;
	margin-right: 5%;
	cursor: pointer;
}

.panier{
	position: fixed;
	top: 71px;
	background-color: #eee;	
	z-index: 3;
	text-align: center;
	width: 30%;
	right: 0;
	border: 1px solid red;
	border-top-color: transparent;
	display: none; 
}

.panier h3{
	opacity: 0.35;
}